body {
  background-color: #730099;
  font-family: Arial, Helvetica, sans-serif; }
  body .MainTitle {
    font-size: 3rem;
    text-align: center;
    color: white; }
  body .mainSection {
    background-color: #ffffff;
    margin: 0rem 2rem;
    padding: 2rem;
    border-radius: 25px; }
    body .mainSection .PhaseSection {
      margin-bottom: 2rem; }
      body .mainSection .PhaseSection .PhaseTitleSection {
        display: flex;
        align-items: center; }
        body .mainSection .PhaseSection .PhaseTitleSection .PhaseTitle {
          font-size: 3.5rem;
          color: #383838; }
        body .mainSection .PhaseSection .PhaseTitleSection .DoneMessage {
          margin-left: 0.5rem;
          color: #00c900; }
      body .mainSection .PhaseSection .TasksList {
        margin-left: 2rem; }
        body .mainSection .PhaseSection .TasksList .Task {
          display: flex;
          align-items: center; }
          body .mainSection .PhaseSection .TasksList .Task span {
            font-size: 1.5rem;
            margin-left: 1rem;
            color: #999999; }
          body .mainSection .PhaseSection .TasksList .Task input {
            transition: 0.5s;
            -webkit-appearance: none;
            background-color: #ffffff;
            border: 5px solid #730099;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 10px;
            border-radius: 3px;
            display: inline-block;
            position: relative; }
          body .mainSection .PhaseSection .TasksList .Task input:active, body .mainSection .PhaseSection .TasksList .Task .regular-checkbox:checked:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }
          body .mainSection .PhaseSection .TasksList .Task input:checked {
            background-color: #730099;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
            color: #ffffff; }
          body .mainSection .PhaseSection .TasksList .Task input:checked:after {
            content: '\2714';
            font-size: 24px;
            position: absolute;
            top: -3px;
            left: 0px;
            color: #ffffff; }

.RandomFactSection {
  background-color: #cfa900;
  margin: 1rem;
  padding: 1rem;
  border-radius: 25px; }
  .RandomFactSection .RandomFactMessage {
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
    color: white; }
